/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    height: 100vh;
    font-weight: 400;
    background-color: #353b48;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/b2.jpeg);
    background-size: cover;
    background-position: center;
}

.budget {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    color: #fff;
    margin-top: 1rem;
    overflow: auto;
    padding-bottom: 20px;
}

.budget__title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.budget__value {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.budget__income,
.budget__expenses {
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
}

.budget__income--percentage,
.budget__expenses--percentage {
    /* width: 34px; */
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/

.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #535c68;
}

.add__container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #dcdde1;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    background-color: #dcdde1;
}

.add__description {
    width: 400px;
}
.add__value { 
    width: 100px;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { 
    transform: translateY(2px);
 }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { 
    outline: none;
}

/***** LISTS *****/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
}

.income {
    width: 45%;
    max-width: 475px;
    margin-right: 30px;
}

.expenses {
    width: 45%;
    max-width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { 
    color: #28B9B5;
}
.expenses__title { 
    color: #FF5049;
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    color: #dcdde1;
}

.item:first-child { 
    border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) { 
    background-color: #dcdde1;
    color: #353b48;
}

.right {
    display: flex;
}

.item__value {
    transition: transform 0.3s;
}

.item__percentage {
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }

.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }


@media screen and (max-width: 480px) {
    .budget {
      width: 95%;
    }
    .add__type {
        min-width: 20px;
        height: 40px;
        margin: 0 auto;
    }
    .add__description {
        min-width: 150px;
        height: 40px;
        padding: 5px;
        margin: 0 3px;

    }
    .add__value {
        height: 40px;
        width: 80px;
    }
    .add__btn {
        margin-left: 5px;
    }
    .container {
        flex-direction: column;
        margin: 15px auto;
        padding: 10px;
    }
    .income, .expenses {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .budget__value {
        font-size: 2rem;
    }
  }